[Desktop Entry]
Name=BigLace
GenericName=Mesh VPN Client
GenericName[pt_BR]=Cliente VPN Mesh
GenericName[es]=Cliente VPN Mesh
Comment=Connect your machine to the mesh network
Comment[pt_BR]=Conecte sua máquina à rede mesh
Comment[es]=Conecta tu máquina a la red mesh
Exec=biglace
Icon=org.communitybig.biglace
Terminal=false
Type=Application
Categories=Network;
Keywords=vpn;tailscale;headscale;bigscale;mesh;network;
Keywords[pt_BR]=vpn;tailscale;headscale;bigscale;mesh;rede;
Keywords[es]=vpn;tailscale;headscale;bigscale;mesh;red;
StartupNotify=true
StartupWMClass=org.communitybig.biglace
